:root {
    --text-color: white;
    --sub-color: black;
    --main-color: orange;
    --background-color: grey;
    --menu-color: white;
    scroll-behavior: smooth;
    font-size: 1.15rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    width: 90vw;
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: center;

}

.headerImg {
    height:20vh;
    width: 100vw;
    background-image: url(./Assets/headerImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    color: var(--main-color);
    text-align: center;
    line-height: 13rem;
}

h2 {
    padding: 1rem;
}

#startCard p {
    padding: 1rem;
}

#startCard button {
   left: 50%;
   position: relative;
   transform: translate(-50%, 0%);
}

#startCountDown {
position: absolute;
left: 50%;
top: 15%;
transform: translate(-50%);
background-color: var(--main-color);
text-align: center;
padding: 1ch;
border-radius: 1ch;
transition: ease-in-out 150ms;

}

button, #leaderBoard {
    cursor: pointer;
    background-color: var(--main-color);
    padding: 1ch;
    border-radius: 1ch;
    border: 0 solid white;
    transition: ease-in-out 150ms;
}

button:hover, #leaderBoard:hover {
    scale: 1.025;
    filter:brightness(110%);
    
}

#startCard, #quizCard, #resultCard, #leaderBoard {
    /* Change to display None */
    display: none;
    background-color: var(--menu-color);
    border-radius: 2rem;
    padding: 1rem;
    height: 50vh;
        
}

#choices li {
    color: var(--sub-color);
    background-color: var(--main-color);
    border-radius: 1ch;
    padding: 1ch;
    margin: 2ch;
}

#quizCard button {
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#question {
    color: var(--sub-color);
    background-color: var(--main-color);
    border-radius: 1ch;
    padding: 2ch;
    margin-top: 2ch;
    margin-bottom: 2ch;
    text-align: center;
}

.flex .field {
    border: 0.125rem solid --sub-color;
}

#resultCard {
    display: none;

}

#resultCard h2 {
    text-align: center;
    padding: 2ch;

}

#resultCard form, #resultCard p  {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#resultCard p {
    top: 45%;
}

#leaderBoard {
    position: fixed;
    /* change to Block to see */
    display: none;
    left: 50%;
    top: 50%;
    width: 40vw;
    height: 50vh;
    border-radius: 1ch;
    background-color: var(--menu-color);
    box-shadow: 0px 0px 25px var(--sub-color);
    transform: translate(-50%, -50%);
}

#leaderBoard p, #leaderBoard li {
    margin-top: 2ch;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    z-index: 100;

}

#leaderBoard li {
    font-size: 1.5rem;
    font-weight: 250;
}

#leaderBoardButton {
    position: relative;
    display: block;
    background-color: var(--main-color);
    top: -20%;
    left: 80%;
    border-radius: 2ch;
    padding: 1ch;
}