:root {
    --text-color: white;
    --sub-color: black;
    --main-color: silver;
    --background-color: grey;
    --menu-color: white;
    scroll-behavior: smooth;
    font-size: 1.15rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    width: 90vw;
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: center;

}

.headerImg {
    height:20vh;
    width: 100vw;
    background-image: url(./Assets/headerImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    color: var(--text-color);
    text-align: center;
    line-height: 13rem;
}

#startCountDown {
position: absolute;
left: 50%;
top: 15%;
transform: translate(-50%);
background-color: var(--main-color);
text-align: center;
padding: 1ch;
border-radius: 1ch;
transition: ease-in-out 150ms;

}

#startCard {

}

#quizCard, #resultCard, #leaderboard {
    /* Change to display None */
    display: block;
    background-color: var(--background-color);
    border-radius: 2rem;
    padding: 1rem;
        
}

#question, #choices li {
    color: var(--sub-color);
    background-color: var(--menu-color);
    border-radius: 1ch;
    padding: 1ch;
    margin: 1ch;
}

#choices li {
    width: 33%;

}

#resultCard {

}

#leaderBoard {
    position: fixed;
    /* change to Block to see */
    display: none;
    left: 50%;
    top: 50%;
    width: 40vw;
    height: 50vh;
    border-radius: 1ch;
    background-color: var(--menu-color);
    box-shadow: 0px 0px 25px var(--main-color);
    transform: translate(-50%, -50%);
}

#leaderBoard p {
    margin-top: 2ch;
    text-align: center;


    z-index: 100;

}